<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Create task')" />

<body>
<nav th:replace="fragments/nav :: nav(${user})"></nav>
<nav th:replace="fragments/nav :: alerts"></nav>
<div class="container">
    <form method="POST" th:action="@{/tasks/add}" class="form-signin" th:object="${taskForm}">
        <h2 class="form-heading">Create task</h2>

        <div class="form-group" th:classappend="${#fields.hasErrors('title')}?'has-danger':''">
            <input name="title" type="text" class="form-control" placeholder="Title" autofocus="true" th:field="*{title}" th:classappend="${#fields.hasErrors('title')}?'is-invalid':''"/>
            <div class="invalid-feedback" th:each="err : ${#fields.errors('title')}" th:text="${err}"></div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')}?'has-danger':''">
            <textarea class="form-control" name="description" placeholder="Description" th:field="*{description}" th:classappend="${#fields.hasErrors('description')}?'is-invalid':''"></textarea>
            <div class="invalid-feedback" th:each="err : ${#fields.errors('description')}" th:text="${err}"></div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('statusText')}?'has-danger':''">
            <select class="form-control" name="statusText" th:field="*{statusText}" th:classappend="${#fields.hasErrors('statusText')}?'is-invalid':''">
                <option th:value="new" selected="selected">New</option>
                <option th:value="accepted">Accepted</option>
                <option th:value="closed">Closed</option>
            </select>
            <div class="invalid-feedback" th:each="err : ${#fields.errors('statusText')}" th:text="${err}"></div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('assigneeLogin')}?'has-danger':''">
            <select class="form-control" name="statusText" th:field="*{assigneeLogin}" th:classappend="${#fields.hasErrors('assigneeLogin')}?'is-invalid':''">
                <option th:each="usr : ${users}" th:text="${usr.login}" th:value="${usr.login}"></option>

            </select>
            <div class="invalid-feedback" th:each="err : ${#fields.errors('assigneeLogin')}" th:text="${err}"></div>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Create</button>
        </div>
    </form>

</div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>