<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('loggin with your account')" />

<body>
<nav th:replace="fragments/nav :: alerts"></nav>
<div class="container">
    <div th:if="${param.error}" class="alert alert-danger">Email or Password invalid, please verify</div>
    <form method="POST" th:action="@{/login}" class="form-signin">
        <h2 class="form-heading">Log in</h2>
        <div class="form-group" th:classappend="*{param.error}?'has-danger':''">
            <input name="login" type="text" class="form-control" placeholder="Login" autofocus="true" th:classappend="*{param.error}?'is-invalid':''"/>
            <input name="password" type="password" class="form-control" placeholder="Password" th:classappend="*{param.error}?'is-invalid':''" />
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Log In</button>
            <h4 class="text-center mt-4"><a th:href="@{/registration}">Create an account</a></h4>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>