<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Create an account')" />

<body>
<nav th:replace="fragments/nav :: alerts"></nav>

<div class="container">
    <form method="POST" th:action="@{/registration}" class="form-signin" th:object="${user}">
        <h2 class="form-heading">Create your account</h2>

        <div class="form-group" th:classappend="${#fields.hasErrors('login')}?'has-danger':''">
            <input name="login" type="text" class="form-control" placeholder="Login" autofocus="true" th:field="*{login}" th:classappend="${#fields.hasErrors('login')}?'is-invalid':''"/>
            <div class="invalid-feedback" th:each="err : ${#fields.errors('login')}" th:text="${err}"></div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}?'has-danger':''">
            <input name="password" type="password" class="form-control" placeholder="Password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')}?'is-invalid':''"/>
            <div class="invalid-feedback" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Submit</button>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>