<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Create an account')" />

<body>
<nav th:replace="fragments/nav :: alerts"></nav>

<div class="container">
    <div th:classappend="${successMessage}?'':'d-none'">
        <div class="alert alert-success" role="alert">
            <span th:utext="${successMessage}"></span>
        </div>
        <h4 class="text-center mt-4"><a th:href="@{/login}">Login</a></h4>
    </div>
    <form method="POST" th:action="@{/registration}" class="form-signin" th:object="${user}" th:classappend="${successMessage}?'d-none':''">
        <h2 class="form-heading">Create your account</h2>

        <div class="form-group" th:classappend="${#fields.hasErrors('login')}?'has-danger':''">
            <input name="login" type="text" class="form-control" placeholder="Login" autofocus="true" th:field="*{login}" th:classappend="${#fields.hasErrors('login')}?'is-invalid':''"/>

            <div class="invalid-feedback" th:each="err : ${#fields.errors('login')}" th:text="${err}"></div>

            <!--<span class="invalid-feedback" th:utext="${error}"></span>-->
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}?'has-danger':''">
            <input name="password" type="password" class="form-control" placeholder="Password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')}?'is-invalid':''"/>
            <!--<span class="invalid-feedback" th:utext="${error}"></span>-->

            <div class="invalid-feedback" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>

        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Submit</button>
        </div>
        <!--{errors}-->
        <!--First Name:-->
        <!--<input type="text" th:field="*{login}" />-->
        <!--<br/>-->
        <!--Last Name:-->
        <!--<input type="text" th:field="*{password}" />-->
        <!--<br/>-->
        <!--<button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Submit</button>-->
    </form>
</div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>