<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Tasks list')" />

<body>
<style>
    .form-check {
        margin-bottom: .2rem;
    }
</style>
<nav th:replace="fragments/nav :: nav(${user})"></nav>
<nav th:replace="fragments/nav :: alerts"></nav>

<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <a class="btn btn-primary float-right" th:href="@{/tasks/add}">Add Task</a>
        </div>
    </div>

    <div class="row mt-3">
        <form class="filtering col-12" method="get" th:action="@{/tasks}">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="input-daterange input-group input-group-sm" id="datepicker">
                        <input type="text" class="form-control" name="start" th:value="(${#httpServletRequest.getParameter('start')}==null)?${#dates.format(today,'MM/dd/YYYY')}:${#httpServletRequest.getParameter('start')}"/>
                        <span class="input-group-addon">to</span>
                        <input type="text" class="form-control" name="end" th:value="(${#httpServletRequest.getParameter('end')}==null)?${#dates.format(tomorrow,'MM/dd/YYYY')}:${#httpServletRequest.getParameter('end')}"/>
                    </div>
                </div>
                <small class="col-auto">
                    <div class="form-check form-check-sm form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="statuses" value="new" th:checked="(${param.statuses}!=null)?(${#lists.contains(param.statuses, &quot;new&quot;)}?true:false):false" /> New
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="statuses" value="accepted" th:checked="(${param.statuses}!=null)?(${#lists.contains(param.statuses, &quot;accepted&quot;)}?true:false):false" /> Accepted
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="statuses" value="closed" th:checked="(${param.statuses}!=null)?(${#lists.contains(param.statuses, &quot;closed&quot;)}?true:false):false" /> Closed
                        </label>
                    </div>
                </small>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Filter</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-bordered table-responsive">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                <tr th:each="prod : ${tasks}">
                    <td><a th:text="${prod.id}" th:href="@{/tasks/{id}(id=${prod.id})}"></a></td>
                    <td th:text="${prod.title}"></td>
                    <td th:text="${prod.description}"></td>
                    <td th:text="${prod.status.text}"></td>
                    <td th:text="${prod.creationDate}"></td>
                    <td><a th:text="Edit" th:href="@{/tasks/{id}/edit(id=${prod.id})}"></a></td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: foot"></div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script>
    $('.input-daterange').datepicker({});
</script>
</body>
</html>